.nav-logo {
  height: 60px;
  margin-left: 5%;
}

.nav-title {
  font-family: monospace;
  font-size: 30px;
  color: yellow;
}

.nav-background {
  background-color: #1da1f2;
}

.nav-links {
  font-size: 20px;
}
